<page-header [identity]="identity"
             tab="GET_AUTHORISATION"
             [messages]="globalMessages"></page-header>

<h4 *ngIf="relationship?.isDelegateABN()">{{relationship?.delegateNickName?.givenName}} has been authorised
    to act on behalf of the {{("partyType." + relationship?.subject?.value?.partyType) | translate}} below. Review
    the authorisation request and accept or decline. Once you accept the authorisation, you will then be able to act
    on behalf of this {{("partyType." + relationship?.subject?.value?.partyType) | translate}} across government.</h4>

<h4 *ngIf="relationship?.isDelegateIndividual()">You have been authorised to act on behalf of
    the {{("partyType." + relationship?.subject?.value?.partyType) | translate}} below. Review the authorisation
    request and accept or decline. Once you accept the authorisation, you will then be able to act on behalf of this
    {{("partyType." + relationship?.subject?.value?.partyType) | translate}} across government.</h4>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Business details</h4>
    </div>
    <div class="panel-body" *ngIf="relationship?.isSubjectABN()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-2">
                    <h4>Business Name</h4>
                </div>
                <div class="col-lg-10">
                    <h4>{{relationship?.subjectNickName?._displayName}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h4>ABN</h4>
                </div>
                <div class="col-lg-10">
                    <h4>{{relationship?.subject?.value?.getABN()}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" *ngIf="relationship?.isSubjectIndividual()">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-2">
                    <h4>Given name</h4>
                </div>
                <div class="col-lg-10">
                    <h4>{{relationship?.subjectNickName?.givenName}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h4>Family name</h4>
                </div>
                <div class="col-lg-10">
                    <h4>{{relationship?.subjectNickName?.familyName}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Authorisation type</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4>You have been setup to be a <b>{{(relationshipType$ | async)?.shortDecodeText}}</b> for this subject.</h4>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Authorisation management</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4 *ngIf="isManageAuthorisationAllowed()">
                You <b>will be able</b> to manage authorisations for this subject.</h4>
            <h4 *ngIf="!isManageAuthorisationAllowed()">
                You <b>will NOT be</b> able to manage authorisations for this subject.</h4>
            <p>{{delegateManageAuthorisationAllowedIndAttribute?.attributeName?.value?.longDecodeText}}</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Online government agency services access level settings</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4 class="todo">NOT IN SCOPE</h4>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Access period</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4>You will be able to act on behalf of the subject for the period:</h4>
            <div class="row">
                <div class="col-lg-2">
                    <h4>Start time</h4>
                </div>
                <div class="col-lg-3">
                    <h4>{{services.model.displayDate((relationship$ | async)?.startTimestamp)}}</h4>
                </div>
                <div class="col-lg-2">
                    <h4>End time</h4>
                </div>
                <div class="col-lg-3">
                    <h4>{{services.model.displayDate((relationship$ | async)?.endTimestamp)}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Declaration</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4>By accepting to act on behalf of <b>{{services.model.displayName((relationship$ | async)?.subjectNickName)}}</b>,
                you acknowledge that:</h4>
            <blockquote><ng2-markdown [markdown]="delegateRelationshipTypeDeclarationAttributeUsage?.defaultValue"></ng2-markdown></blockquote>
            <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="accept" [disabled]="!canAccept"> <strong>I accept this relationship</strong></label>
            </div>
        </div>
    </div>
</div>

<div id="action-button-bar">
    <div class="pull-left">
        <a class="btn btn-default align-center" (click)="goToRelationshipsPage()">← Go to relationships</a>
    </div>
    <div class="pull-right">
        <button class="btn pull-left" (click)="showDeclineConfirmation()">Decline</button>
        &nbsp;
        <button class="btn btn-primary pull-left" (click)="acceptAuthorisation()" [disabled]="(!accept) || !canAccept">Accept</button>
    </div>
</div>

<p-dialog modal="true" header="Confirm - decline this authorisation" [(visible)]="declineDisplay" showEffect="fade" responsive="true" width="500">
    <p>Are you sure you want to decline this authorisation?</p>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="pull-right">
            <button class="btn pull-left" (click)="cancelDeclineConfirmation()">Cancel</button>
            <button class="btn btn-primary pull-left" (click)="confirmDeclineAuthorisation()">Confirm</button>
        </div>
    </div>
</p-dialog>
