<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">4</span> Access levels</h4></div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4>Set access levels to online government services</h4>
        </div>
        <div class="col-md-12">
            <h4>Access levels:</h4>
        </div>
        <div class="col-md-12">
            <p>
                Full access: The agency service allows the representative access to all transactions without further
                steps.
                For more information see the detail for each service provided in the accordians below.
            </p>
        </div>
        <div class="pull-right">
            <h4>Individually set the below online government services</h4>
        </div>
        <div class="form-group">
            <div class="col-md-12" *ngFor="let permissionAttribute of permissionAttributes">
                <div class="pull-left">
                    {{permissionAttribute.attributeName.value.shortDecodeText}}
                </div>
                <div class="pull-right">
                    <button class="btn" [class.btn-secondary]="permissionAttribute.value[0] === accessLevels.full" [class.btn-inverse]="permissionAttribute.value[0] !== accessLevels.full"
                            (click)="toggleFull(permissionAttribute)"> {{accessLevels.full}}
                    </button>
                    <button class="btn" [class.btn-secondary]="permissionAttribute.value[0] === accessLevels.limited" [class.btn-inverse]="permissionAttribute.value[0] !== accessLevels.limited"
                            (click)="toggleLimited(permissionAttribute)"> {{accessLevels.limited}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
