<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">4</span> Access levels</h4></div>
    <div class="panel-body">
        <div class="col-md-12">
            <h4>Set access levels to online government services</h4>
        </div>
        <div class="col-md-12">
            <h4>Access levels:</h4>
        </div>
        <div class="col-md-12">
            <p>
                Full access: The agency service allows the representative access to all transactions without further steps.
                For more information see the detail for each service provided in the accordians below.
            </p>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control" name="accessLevel">
                                <option value="fullAccess">Full Access</option>
                                <option value="limitedAccess">Limited Access</option>
                                <option value="noAccess">No Access</option>
                            </select>
            </div>
        </div>
    </div>
</div>