<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="badge square">4</span> Access levels</h4></div>
    <div *ngIf="data.enabled" class="panel-body">
        <div class="col-md-12">
            <h4>Set access levels to online government services</h4>
        </div>
        <div class="col-md-12">
            <h4>Access levels:</h4>
        </div>
        <div class="col-md-12">
            <p>
                Full access: The agency service allows the representative access to all transactions without further
                steps.
                For more information see the detail for each service provided in the accordians below.
            </p>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                <h4>Individually set the below online government services</h4>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table checkbox-table">
                <tbody>
                    <tr *ngFor="let permissionAttribute of permissionAttributes">
                        <td class="col-md-8">
                            {{permissionAttribute.attributeName.value.shortDecodeText}}
                        </td>
                        <td class="col-md-4">
                            <div class="pull-right">
                                <button class="btn"
                                        [class.btn-secondary]="permissionAttribute.value[0] === accessLevels.full"
                                        [class.btn-inverse]="permissionAttribute.value[0] !== accessLevels.full"
                                        [disabled]='(!data.customisationEnabled)'
                                        (click)="toggleFull(permissionAttribute)"> {{accessLevels.full}}
                                </button>
                                <button class="btn"
                                        [class.btn-secondary]="permissionAttribute.value[0] === accessLevels.limited"
                                        [class.btn-inverse]="permissionAttribute.value[0] !== accessLevels.limited"
                                        [disabled]='(!data.customisationEnabled)'
                                        (click)="toggleLimited(permissionAttribute)"> {{accessLevels.limited}}
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
